<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="sh_project" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\nrn\ambientes\ambiente_sh_project\scripts\python.exe|c:\nrn\ambientes\ambiente_sh_project\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\sh_projects" />
  <!-- The handler here is specific to Bottle; see the next section. -->
  <add key="WSGI_HANDLER" value="core.wsgi.application" />
  <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
</appSettings>
</configuration>
