{% extends "layouts/base.html" %}

{% block title %} Tareas de Ingeniería {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
    
    {% load humanize %}
    {% load i18n %}
    {% load l10n %}
{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Tareas de Ingeniería</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Gestión de Proyectos</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'tarea_ingenieria_listall' %}">Tareas de Ingeniería</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- HTML5 Export Buttons table start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="d-flex justify-content-between">
                            <div class="card-header table-card-header">
                                <h5>Opciones de exportación</h5>
                            </div>
                            <div class=" mb-2 mb-md-0" style="margin-right: 50px;margin-top: 20px;">
                                <a href="{% url 'tarea_ingenieria_addone' 0 %}" class="btn  btn-primary d-inline-flex align-items-center"><i class="fas fa-plus"></i>
                                    &nbsp&nbsp Nueva Tarea de Ingeniería
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>ACCIONES</th>
                                            <th>CÓDIGO</th>
                                            <th>NOMBRE</th>
                                            <th>ETAPA</th>
                                            <th>FECHA INICIO</th>
                                            <th>FECHA FIN ESTIMADA</th>
                                            <th>ESTADO</th>
                                            <th>PRESUPUESTO</th>
                                            <th>PROGRESO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tarea in tareas_ingenieria %}
                                        <tr>
                                            <td>
                                                {% if request.user.is_superuser == 1 %}
                                                <a class="btn btn-primary" href="{% url 'tarea_ingenieria_update' tarea.pk 0 %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                    </svg>
                                                </a>
                                                <a class="btn btn-info" href="{% url 'tarea_ingenieria_update_asignaciones' tarea.pk 1 %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                                                    </svg>
                                                </a>
                                                {% endif %}
                                                <button type="button" class="btn btn-primary" onclick="openAdjuntosModal({{ tarea.id }}, 'TAREA_INGENIERIA')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                                                      </svg>
                                                </button>
                                                {% comment %} <a href="#" class="btn btn-danger btn-sm">Eliminar</a> {% endcomment %}
                                            </td>
                                            <td>{{tarea.TI_CCODIGO|default_if_none:""}}</td>
                                            <td>{{tarea.TI_CNOMBRE|default_if_none:""}}</td>
                                            <td>{{tarea.TI_ETAPA.ET_CNOMBRE|default_if_none:""}}</td>
                                            <td>{{tarea.TI_FFECHA_INICIO|date:"d/m/Y"|default_if_none:""}}</td>
                                            <td>{{tarea.TI_FFECHA_FIN_ESTIMADA|date:"d/m/Y"|default_if_none:""}}</td>
                                            <td>{{tarea.TI_CESTADO|default_if_none:""}}</td>
                                            <td>{{tarea.TI_NPRESUPUESTO|floatformat:2|intcomma|default_if_none:""}}</td>
                                            <td>{{tarea.TI_NPROGRESO|floatformat:2}}%</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
    <!-- Include del modal de adjuntos -->
    {% include "home/TAREA/tarea_documents.html" %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- datatable Js -->
    <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/plugins/pdfmake.min.js"></script>
    <script src="/static/assets/js/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.bootstrap4.min.js"></script>
    <script src="/static/assets/js/pages/data-export-custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var currentTareaId, currentTipoTarea;

        function openAdjuntosModal(tareaId, tipoTarea) {
            currentTareaId = tareaId;
            currentTipoTarea = tipoTarea;
            $('#adjuntosModal').modal('show');
            cargarListaAdjuntos();
        }

        function cargarListaAdjuntos() {
            $.ajax({
                url: `/tarea_adjuntos/${currentTareaId}/${currentTipoTarea}/`,
                method: 'GET',
                success: function(data) {
                    var tableHtml = '<table class="table table-striped">' +
                                    '<thead><tr><th>Nombre</th><th>Descripción</th><th>Fecha de Creación</th><th>Acciones</th></tr></thead>' +
                                    '<tbody>';
                    
                    if (data.adjuntos.length === 0) {
                        tableHtml += '<tr><td colspan="4" class="text-center">No hay adjuntos para esta tarea.</td></tr>';
                    } else {
                        data.adjuntos.forEach(function(adjunto) {
                            tableHtml += `<tr>
                                <td>${adjunto.nombre}</td>
                                <td>${adjunto.descripcion}</td>
                                <td>${adjunto.fecha_creacion}</td>
                                <td>
                                    <button onclick="editarAdjunto(${adjunto.id})" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Editar</button>
                                    <button onclick="eliminarAdjunto(${adjunto.id})" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                    <a href="/tarea_adjunto/descargar/${adjunto.id}/${currentTipoTarea}/" class="btn btn-success btn-sm"><i class="fas fa-download"></i> Descargar</a>
                                </td>
                            </tr>`;
                        });
                    }
                    
                    tableHtml += '</tbody></table>';
                    $('#lista').html(tableHtml);
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar los adjuntos:", error);
                    $('#lista').html('<p class="text-danger">Error al cargar los adjuntos. Por favor, intente nuevamente.</p>');
                }
            });
        }

        $(document).ready(function() {
            $('#formAgregarAdjunto').on('submit', function(e) {
                e.preventDefault();
                var formData = new FormData(this);
                
                $.ajax({
                    url: `/tarea_adjunto/agregar/${currentTareaId}/${currentTipoTarea}/`,
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Éxito',
                                text: response.message
                            });
                            $('#formAgregarAdjunto')[0].reset();
                            cargarListaAdjuntos();
                            $('#lista-tab').tab('show');
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message
                            });
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error al agregar el adjunto'
                        });
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });

        function editarAdjunto(adjuntoId) {
            $.ajax({
                url: `/tarea_adjunto/editar/${adjuntoId}/${currentTipoTarea}/`,
                method: 'GET',
                success: function(data) {
                    $('#editar').html(data);
                    $('#editar-tab').show().tab('show');
                    
                    $('#adjuntoForm').off('submit').on('submit', function(e) {
                        e.preventDefault();
                        var formData = new FormData(this);
                        
                        $.ajax({
                            url: `/tarea_adjunto/editar/${adjuntoId}/${currentTipoTarea}/`,
                            type: 'POST',
                            data: formData,
                            headers: {
                                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                            },
                            success: function(response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Éxito',
                                        text: response.message
                                    });
                                    cargarListaAdjuntos();
                                    $('#lista-tab').tab('show');
                                    $('#editar-tab').hide();
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: response.message
                                    });
                                }
                            },
                            error: function(xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Error al editar el adjunto'
                                });
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        });
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar el formulario de edición:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al cargar el formulario de edición'
                    });
                }
            });
        }

        function eliminarAdjunto(adjuntoId) {
            Swal.fire({
                title: '¿Está seguro?',
                text: "¿Desea eliminar este adjunto?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/tarea_adjunto/eliminar/${adjuntoId}/${currentTipoTarea}/`,
                        method: 'POST',
                        data: {
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(response) {
                            if (response.success) {
                                Swal.fire(
                                    'Eliminado',
                                    response.message,
                                    'success'
                                );
                                cargarListaAdjuntos();
                            } else {
                                Swal.fire(
                                    'Error',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error("Error al eliminar el adjunto:", error);
                            Swal.fire(
                                'Error',
                                'Error al eliminar el adjunto',
                                'error'
                            );
                        }
                    });
                }
            });
        }
    </script>
{% endblock javascripts %}
