{% extends "layouts/base.html" %}

{% block title %} Tarea Financiera {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 <style>
    .checkbox-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .checkbox-wrapper input[type="checkbox"] {
        margin-right: 0.5rem;
        width: auto;
        height: auto;
    }
    .checkbox-wrapper label {
        margin-bottom: 0;
        font-weight: normal;
    }
</style>
{% endblock stylesheets %}

{% block content %}		
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Tareas Financieras</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'tarea_financiera_listall' %}">Tareas Financieras</a></li>
                                <li class="breadcrumb-item"><a href="#!">Agregar Tarea Financiera</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tarea Financiera</h5>
                        </div>
                        <div class="card-body">
                            <h5>Ingrese datos de la Tarea Financiera</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" id="validation-form123" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        {{ form.TF_CCODIGO }}
                                        
                                        <div class="row">
                                            <!-- Información básica -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Información Básica</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_PROYECTO_CLIENTE.id_for_label }}">{{ form.TF_PROYECTO_CLIENTE.label }}:</label>
                                                    {{ form.TF_PROYECTO_CLIENTE }}
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="{{ form.TF_CNOMBRE.id_for_label }}">{{ form.TF_CNOMBRE.label }}:</label>
                                                    {{ form.TF_CNOMBRE }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_CDESCRIPCION.id_for_label }}">{{ form.TF_CDESCRIPCION.label }}:</label>
                                                    {{ form.TF_CDESCRIPCION }}
                                                </div>
                                            </div>
                                            
                                            <!-- Fechas y estado -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Fechas y Estado</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_FFECHA_INICIO.id_for_label }}">{{ form.TF_FFECHA_INICIO.label }}:</label>
                                                    {{ form.TF_FFECHA_INICIO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_FFECHA_FIN_ESTIMADA.id_for_label }}">{{ form.TF_FFECHA_FIN_ESTIMADA.label }}:</label>
                                                    {{ form.TF_FFECHA_FIN_ESTIMADA }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_FFECHA_FIN_REAL.id_for_label }}">{{ form.TF_FFECHA_FIN_REAL.label }}:</label>
                                                    {{ form.TF_FFECHA_FIN_REAL }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_CESTADO.id_for_label }}">{{ form.TF_CESTADO.label }}:</label>
                                                    {{ form.TF_CESTADO }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <!-- Detalles de la tarea -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Detalles de la Tarea</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_MONEDA.id_for_label }}">{{ form.TF_MONEDA.label }}:</label>
                                                    {{ form.TF_MONEDA }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_NMONTO.id_for_label }}">{{ form.TF_NMONTO.label }}:</label>
                                                    {{ form.TF_NMONTO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_CTIPO_TRANSACCION.id_for_label }}">{{ form.TF_CTIPO_TRANSACCION.label }}:</label>
                                                    {{ form.TF_CTIPO_TRANSACCION }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_NPROGRESO.id_for_label }}">{{ form.TF_NPROGRESO.label }}:</label>
                                                    {{ form.TF_NPROGRESO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_NDURACION_PLANIFICADA.id_for_label }}">{{ form.TF_NDURACION_PLANIFICADA.label }}:</label>
                                                    {{ form.TF_NDURACION_PLANIFICADA }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_NDURACION_REAL.id_for_label }}">{{ form.TF_NDURACION_REAL.label }}:</label>
                                                    {{ form.TF_NDURACION_REAL }}
                                                </div>
                                            </div>
                                            
                                            <!-- Características adicionales -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Características Adicionales</h6>
                                                <div class="checkbox-wrapper">
                                                    {{ form.TF_BMILESTONE }}
                                                    <label for="{{ form.TF_BMILESTONE.id_for_label }}">{{ form.TF_BMILESTONE.label }}</label>
                                                </div>
                                                <div class="checkbox-wrapper">
                                                    {{ form.TG_BCRITICA }}
                                                    <label for="{{ form.TG_BCRITICA.id_for_label }}">{{ form.TG_BCRITICA.label }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.TF_COBSERVACIONES.id_for_label }}">{{ form.TF_COBSERVACIONES.label }}:</label>
                                                    {{ form.TF_COBSERVACIONES }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {{ form.errors }}
                                        <br>
                                        <h5>Asignaciones Opcionales</h5>
                                        <hr>
                                        <div class="form-group">
                                            <label for="id_empleados">Asignar Empleados:</label>
                                            <select class="form-control select2-multiple" id="id_empleados" name="empleados" multiple="multiple">
                                                {% for empleado in form_asignacion_empleado.fields.AE_EMPLEADO.queryset %}
                                                    <option value="{{ empleado.id }}">{{ empleado }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="id_contratistas">Asignar Contratistas:</label>
                                            <select class="form-control select2-multiple" id="id_contratistas" name="contratistas" multiple="multiple">
                                                {% for contratista in form_asignacion_contratista.fields.AEC_EMPLEADO.queryset %}
                                                    <option value="{{ contratista.id }}">{{ contratista }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="id_recursos">Asignar Recursos:</label>
                                            <select class="form-control" id="id_recursos" name="recursos">
                                                <option value="">Seleccione un recurso</option>
                                                {% for recurso in form_asignacion_recurso.fields.ART_PRODUCTO.queryset %}
                                                    <option value="{{ recurso.id }}">{{ recurso }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="recursos-detalles">
                                            <!-- Los campos de cantidad y costo unitario se generarán dinámicamente aquí -->
                                        </div>
                                        <div id="recursos-asignados">
                                            <!-- Aquí se mostrarán los recursos asignados -->
                                        </div>
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-success mr-4" type="submit">Guardar</button>
                                            <a class="btn btn-danger mr-1" onclick="window.history.go(-1); return false;">Volver</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap-tagsinput-latest Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <!-- bootstrap-maxlength Js -->
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <!-- form-advance custom js -->
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Ajustar el estilo de los checkboxes
            const checkboxes = document.querySelectorAll('.checkbox-wrapper input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.style.marginLeft = '0';
                checkbox.style.position = 'static';
            });

            var fechaInicio = document.getElementById('id_TF_FFECHA_INICIO');
            var fechaFinEstimada = document.getElementById('id_TF_FFECHA_FIN_ESTIMADA');
            const proyectoSelect = document.getElementById('{{ form.TF_PROYECTO_CLIENTE.id_for_label }}');
            const tipoCambioInfo = document.getElementById('tipo-cambio-info');
            const tiposCambio = {{ tipos_cambio|safe }};

            proyectoSelect.addEventListener('change', function() {
                const proyectoId = this.value;
                if (tiposCambio[proyectoId]) {
                    const tipoCambio = tiposCambio[proyectoId];
                    tipoCambioInfo.textContent = `Tipo de cambio: ${tipoCambio.moneda} - ${tipoCambio.valor} (${tipoCambio.fecha})`;
                } else {
                    tipoCambioInfo.textContent = 'Tipo de cambio: No disponible';
                }
            });

            function actualizarFechas(campoModificado) {
                if (campoModificado === 'inicio') {
                    fechaFinEstimada.value = fechaInicio.value;
                } else if (campoModificado === 'fin') {
                    fechaInicio.value = fechaFinEstimada.value;
                }
            }
        
            fechaInicio.addEventListener('change', function() {
                actualizarFechas('inicio');
            });
            fechaFinEstimada.addEventListener('change', function() {
                actualizarFechas('fin');
            });
        
            // Inicializar Select2 para selecciones múltiples
            $('.select2-multiple').select2({
                placeholder: "Seleccione una o más opciones",
                allowClear: true
            });
        
            const recursosSelect = document.getElementById('id_recursos');
            const recursosDetalles = document.getElementById('recursos-detalles');
            const recursosAsignados = document.getElementById('recursos-asignados');
            let recursosAsignadosArray = [];
        
            recursosSelect.addEventListener('change', function() {
                const selectedOption = this.options[this.selectedIndex];
                if (selectedOption.value) {
                    const recursoId = selectedOption.value;
                    const recursoNombre = selectedOption.text;
                    
                    recursosDetalles.innerHTML = `
                        <h6>${recursoNombre}</h6>
                        <div class="form-group">
                            <label for="cantidad_${recursoId}">Cantidad:</label>
                            <input type="number" class="form-control" id="cantidad_${recursoId}" name="cantidad_${recursoId}" required>
                        </div>
                        <div class="form-group">
                            <label for="costo_${recursoId}">Costo Unitario:</label>
                            <input type="number" step="0.01" class="form-control" id="costo_${recursoId}" name="costo_${recursoId}" required>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="agregarRecurso('${recursoId}', '${recursoNombre}')">Agregar Recurso</button>
                    `;
                } else {
                    recursosDetalles.innerHTML = '';
                }
            });
        
            window.agregarRecurso = function(recursoId, recursoNombre) {
                const cantidad = document.getElementById(`cantidad_${recursoId}`).value;
                const costo = document.getElementById(`costo_${recursoId}`).value;
                
                if (cantidad && costo) {
                    recursosAsignadosArray.push({id: recursoId, nombre: recursoNombre, cantidad: cantidad, costo: costo});
                    actualizarRecursosAsignados();
                    recursosDetalles.innerHTML = '';
                    recursosSelect.value = '';
                } else {
                    alert('Por favor, ingrese la cantidad y el costo unitario.');
                }
            };
        
            function actualizarRecursosAsignados() {
                recursosAsignados.innerHTML = '<h6>Recursos Asignados:</h6>';
                recursosAsignadosArray.forEach((recurso, index) => {
                    recursosAsignados.innerHTML += `
                        <div>
                            ${recurso.nombre} - Cantidad: ${recurso.cantidad}, Costo: ${recurso.costo}
                            <button type="button" class="btn btn-sm btn-danger" onclick="eliminarRecurso(${index})">Eliminar</button>
                        </div>
                    `;
                });
            }
        
            window.eliminarRecurso = function(index) {
                recursosAsignadosArray.splice(index, 1);
                actualizarRecursosAsignados();
            };
        
            // Nuevo código para manejar el envío del formulario
            const form = document.querySelector('form');
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                
                // Crear un campo oculto para los recursos
                const recursosInput = document.createElement('input');
                recursosInput.type = 'hidden';
                recursosInput.name = 'recursos_json';
                recursosInput.value = JSON.stringify(recursosAsignadosArray);
                form.appendChild(recursosInput);
        
                // Enviar el formulario
                form.submit();
            });
        });
    </script>
{% endblock javascripts %}