{% extends "layouts/base.html" %}

{% block title %} Agregar Tarea General {% endblock %} 

{% block stylesheets %}
    {{ block.super }}
    <style>
        .error-message {
            color: red;
            font-size: 0.9em;
        }
    </style>
{% endblock stylesheets %}

{% block content %}		
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Tareas Generales</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'tarea_general_listall' %}">Tareas Generales</a></li>
                                <li class="breadcrumb-item"><a href="#!">Agregar Tarea General</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Agregar Tarea General</h5>
                        </div>
                        <div class="card-body">
                            <h5>Ingrese datos de la Tarea General</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" id="tarea-general-form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                {{ form.non_field_errors }}
                                            </div>
                                        {% endif %}
                                        {% for field in form %}
                                            {% if field.widget_type != 'hidden' %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                                    {{ field }}
                                                    {% if field.errors %}
                                                        <div class="error-message">
                                                            {{ field.errors }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-primary mr-2" type="submit">Guardar</button>
                                            <a class="btn btn-secondary" href="{% url 'tarea_general_listall' %}">Cancelar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
    
    
{% endblock javascripts %}