{% extends "layouts/base.html" %}

{% block title %} Estado de Pago {% endblock %}

{% block stylesheets %}
<style>
    .form-group {
        margin-bottom: 1rem;
    }
    .input-group-append {
        margin-top: 0.5rem;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Estados de Pago</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'edp_listall' %}">Estados de Pago</a></li>
                                <li class="breadcrumb-item"><a href="#!">Agregar Estado de Pago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Estado de Pago</h5>
                        </div>
                        <div class="card-body">
                            <h5>Ingrese datos del estado de pago</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" id="validation-form123" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        
                                        <div class="row">
                                            <!-- Información básica -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Información Básica</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_PROYECTO.id_for_label }}">{{ form.EP_PROYECTO.label }}:</label>
                                                    {{ form.EP_PROYECTO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_CNUMERO.id_for_label }}">{{ form.EP_CNUMERO.label }}:</label>
                                                    {{ form.EP_CNUMERO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_FFECHA.id_for_label }}">{{ form.EP_FFECHA.label }}:</label>
                                                    {{ form.EP_FFECHA }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_CESTADO.id_for_label }}">{{ form.EP_CESTADO.label }}:</label>
                                                    {{ form.EP_CESTADO }}
                                                </div>
                                            </div>
                                            
                                            <!-- Detalles financieros -->
                                            <div class="col-md-6">
                                                <h6 class="mt-3">Detalles Financieros</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_NTOTAL.id_for_label }}">{{ form.EP_NTOTAL.label }}:</label>
                                                    {{ form.EP_NTOTAL }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="tipo-cambio-info">Tipo de cambio: N/A</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_CESTADO_PAGO.id_for_label }}">{{ form.EP_CESTADO_PAGO.label }}:</label>
                                                    {{ form.EP_CESTADO_PAGO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_NMONTO_PAGADO.id_for_label }}">{{ form.EP_NMONTO_PAGADO.label }}:</label>
                                                    {{ form.EP_NMONTO_PAGADO }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_FFECHA_ULTIMO_PAGO.id_for_label }}">{{ form.EP_FFECHA_ULTIMO_PAGO.label }}:</label>
                                                    {{ form.EP_FFECHA_ULTIMO_PAGO }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class="mt-3">Observaciones</h6>
                                                <div class="form-group">
                                                    <label for="{{ form.EP_COBSERVACIONES.id_for_label }}" hidden>{{ form.EP_COBSERVACIONES.label }}:</label>
                                                    {{ form.EP_COBSERVACIONES }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {{ form.errors }}
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-success mr-4" type="submit">Guardar</button>
                                            <a class="btn btn-danger mr-1" onclick="window.history.go(-1); return false;">Volver</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap-tagsinput-latest Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <!-- bootstrap-maxlength Js -->
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <!-- form-advance custom js -->
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
$(document).ready(function() {
    $('#id_EP_CORDEN_VENTA').change(function() {
        var ordenVentaId = $(this).val();
        if (ordenVentaId) {
            $.ajax({
                url: "{% url 'orden_venta_getdata' 0 %}".replace('0', ordenVentaId),
                type: 'GET',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(data) {
                    console.log('data',data);
                    $('#id_EP_CCLIENTE').val(data.orden_venta.OV_CCLIENTE.id);
                    $('#id_EP_NTOTAL').val(data.orden_venta.OV_NTOTAL);
                    $('#id_EP_COBSERVACIONES').val(data.orden_venta.OV_COBSERVACIONES);
                    $('#id_EP_CCOMENTARIO').val(data.orden_venta.OV_CCOMENTARIO);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching orden de venta data:', error);
                }
            }); 
        } else {
            // Clear fields if no orden de venta is selected
            $('#id_EP_CCLIENTE, #id_EP_NTOTAL, #id_EP_COBSERVACIONES, #id_EP_CCOMENTARIO').val('');
        }
    });
});
</script>
<script>
$(document).ready(function() {
    // Create the button
    var $button = $('<button>', {
        text: 'Generar Número',
        class: 'btn btn-primary ml-2',
        click: function(e) {
            e.preventDefault();
            var currentYear = new Date().getFullYear();
            var generatedNumber = 'EP-' + currentYear + '-0000';
            $('#id_EP_CNUMERO').val(generatedNumber);
        }
    })

    // Insert the button after the EDP_CNUMERO field
    $('#id_EP_CNUMERO').after($button);

    $('form').on('submit', function(e) {                
        e.preventDefault();
        console.log('submit');
        var edpNumero = $('#id_EP_CNUMERO').val();
        
        $.ajax({
            url: "{% url 'check_edp_numero' %}",
            type: 'POST',
            data: {
                'edp_numero': edpNumero
            },
            dataType: 'json',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.exists) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Número de Estado de Pago ya existe',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                } else {
                    $('form')[0].submit();
                }
            },
            error: function(xhr, status, error) {
                console.error('Error checking estado de pago number:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Ocurrió un error al verificar el número de Estado de Pago',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
        });
    });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const proyectoSelect = document.getElementById('{{ form.EP_PROYECTO.id_for_label }}');
        const tipoCambioInfo = document.getElementById('tipo-cambio-info');
        const tiposCambio = {{ tipos_cambio|safe }};

        proyectoSelect.addEventListener('change', function() {
            const proyectoId = this.value;
            if (tiposCambio[proyectoId]) {
                const tipoCambio = tiposCambio[proyectoId];
                tipoCambioInfo.textContent = `Tipo de cambio: ${tipoCambio.moneda} - ${tipoCambio.valor} (${tipoCambio.fecha})`;
            } else {
                tipoCambioInfo.textContent = 'Tipo de cambio: No disponible';
            }
        });
    });
</script>
{% endblock javascripts %}
